@page
@using Microsoft.Extensions.Localization
@using Necnat.Abp.NnLibCommon.Localization
@using Necnat.Abp.NnLibCommon.Web.Pages.NnLibCommon
@model Necnat.Abp.NnLibCommon.Web.Pages.NnLibCommon.IndexModel
@inject IStringLocalizer<NnLibCommonResource> L

@{
}
<h1>NnLibCommon</h1>
<p>@L["SamplePageMessage"]</p>
