@page "/NnLibCommon"
@using Microsoft.Extensions.Localization
@using global::Necnat.Abp.NnLibCommon.Localization
@inject IStringLocalizer<NnLibCommonResource> L
@{
}
<h1>NnLibCommon</h1>
<p>@L["SamplePageMessage"]</p>